@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    ---cor01:#243487;
    ---cor02: #432087;
    ---cor03: #5B68AD;
}

body,html{
    width: 100vw;
    height: 100vh;
    background-color: #243487;
}

header{
    background-color: #5B68AD;
    width: 541px;
    margin-bottom: 125px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.539);

}


header > h1 {
    text-align: center;
}

main{
    width: 540px;
    height: 80%;
  
}

#formulario-principal{
    text-align: center;
     
}
form{
    
    background-color: rgba(128, 128, 128, 0.683);
    border-radius: 3px;
    width: 540px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.539);
    
}
#imagem{
    
    background-image: url(../imagens/pexels-taken-neto-10850828\ \(1\).jpg);
    width: 100%;
    height: 250px;
    background-position: center center;
    background-size: cover;
    margin: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.539);
}

input {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 15px;
    margin-left: 4px;
    border-radius: 5px;

}

input:hover{
    background-color: #432087;
    color: white;
}

footer{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
  
}

footer > p > a {   
    text-decoration: none;
    color: white;
    font-weight: bold;
}